<h1>list-company works!</h1>

<div class="py-5">
  <a class="btn btn-sm btn-secondary" (click)="goNew()"> + Ajouter</a>
</div>

<table class="table table-responsive table-hover table-bordered p-5 align-middle">
  <thead class="table-dark">
    <tr class="text-center">
      <th scope="col">Name</th>
      <th scope="col">Invoice Address</th>
      <th scope="col">Delivery Address</th>
      <th scope="col">Siret Number</th>
      <th scope="col">Mail</th>
      <th scope="col">Phone</th>
      <th scope="col">Vat Number</th>
      <th scope="col">Code Ape</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let company of companies">
      <td>{{company.companyName}}</td>
      <td>{{company.invoiceAddress}}</td>
      <td>{{company.deliveryAddress}}</td>
      <td>{{company.siret}}</td>
      <td>{{company.email}}</td>
      <td>{{company.phone}}</td>
      <td>{{company.vatNumber}}</td>
      <td>{{company.nafApeCode}}</td>
      <td>
        <a class="btn btn-sm btn-warning" (click)="goEdit(company)">Modifier</a>
        <a class="btn btn-sm btn-danger" (click)="deleteCompany(company)">Supprimer</a>
      </td>
    </tr>
  </tbody>
</table>