<style>
    table {
        border-collapse: separate;
        border-spacing: 50px 0;
    }

    td {
        padding: 10px 0;
    }
</style>
<section>
    <h2>Rest Api Output</h2>
    <table align="center">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>   
                <th>Company Name</th>              
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.company}}</td>
                <button>Update</button>
                <button (click)='deleteUser(user.id)'>Delete</button>
            </tr>
        </tbody>
    </table>
</section>