<h1>list-product works!</h1>

<table class="table table-responsive table-hover table-bordered p-5 align-middle">
    <thead class="table-dark">
        <tr class="text-center">
            <th scope="col">Name</th>
            <th scope="col">Ref</th>
            <th scope="col">Brand</th>
            <th scope="col">Origin</th>
            <th class="w-25" scope="col">Description</th>
            <th scope="col">Categorie</th>
            <th scope="col">Low price</th>
            <th scope="col">High price</th>
            <th scope="col">Active</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.name}}</td>
        <td>{{ product.ref}}</td>
        <td>{{ product.brand}}</td>
        <td>{{ product.origin}}</td>
        <td class="w-25">{{ product.description}}</td>
        <td>{{ product.productType}}</td>
        <td>{{ product.lowPrice}} €</td>
        <td>{{ product.highPrice}} €</td>
        <td class="text-center">
            <input class="form-check-input" type="checkbox" name="active" [checked]="product.productIsActive" (click)="active(product)" disabled>
        </td>
        <td>
            <a class="btn btn-sm btn-warning" (click)="goEdit(product)">Modifier</a>
            <a class="btn btn-sm btn-danger" (click)="deleteProduct(product)">Supprimer</a>
        </td>
      </tr>
    </tbody>
  </table>
